<!DOCTYPE html>
    <link rel="stylesheet" href="/style.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Viga' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Rubik' rel='stylesheet'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="indexScript.js"></script>
    <link rel="stylesheet" href="/text.css">
    <body>
      {{ content }}
    </body>
    <!-- <style>
      div{
        height: 50px;
        background: none;
        position: relative;
        bottom:0px;
      }
    </style>
    <div>
      <a href="/index/"><p1 class = "headerName"> home </p1></a>
      <a href="/about/"><p1 class = "headerName"> about me </p1></a>
      <a href="/donate/"><p1 class = "headerName"> donate </p1></a>
    </div> -->
