#hi{
  font-size:6em;
  margin-bottom:0;
  margin-left:20%;
  line-height: 1;
  animation:
    appear 1s forwards;
    animation-duration: 5s;
}

#info{
  left:0.5em;
  margin-top:4em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom:2em;
  font-size:4.5em;
  text-align: center;
}

.text{
  color: white;
  font-family: "Poppins";
  background: transparent;
}

.typewriter h1 {
  text-align: center;
  margin-left:auto;
  margin-right:auto;
  font-size: 16em;
  font-weight: bolder;
  overflow: hidden;
  background: transparent;
  border-right: .05em solid transparent;
  line-height: 0.8em;
  letter-spacing: .05em; /* Adjust as needed */
  animation:
    typing .7s steps(9, end),
    blink-caret 0.5s step-end 0.8;
}

#first{
  margin-top:0;
}
#last{
  animation:
    typing .9s steps(10, end),
    blink-caret .5s step-end .8;
}

.typewriter{
  max-width: 500vw;
}

.menu{
  font-family: "Viga";
  transition: 0.5s ease;
  color:rgba(24,100,164);
}

.menu:hover{
  font-size:1.2em;
  color: rgba(153,226,101);
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: white }
  50% { border-color: white}
}

@keyframes appear{
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
/* max */
@media screen and (min-width:2000px){
  .typewriter h1{
    background: transparent;
    font-size:15.5vw;
    animation:
      typing 0.9s steps(9, end),
  }
  .wrapper{
    margin-top: 9em;
  }
  #hi{
    font-size:8em;
  }
  #last {
    animation:
      typing .9s steps(10, end),
  }
  #info{
    margin-bottom:4em;
  }
}

/* tablet */
@media screen and (max-width:992px) and (min-width:600px){
  .typewriter h1{
    background: transparent;
    font-size:12em;
    animation:
      typing .6s steps(7, end),
      blink-caret 0.5s step-end 0.8;
  }
  .wrapper{
    margin-top: 14em;
  }
  #hi{
    font-size:5em;
  }
  #last{
    animation:
      typing .6s steps(7, end),
      blink-caret 0.5s step-end 0.8;
  }
  #info{
    top:18em;
    font-size:3em;
    margin-bottom:5em;
  }
}

/* mobile */
@media screen and (max-width:600px){
  .typewriter h1 {
    background: transparent;
    font-size:7em;
    animation:
      typing .5s steps(6, end),
      blink-caret 0.5s step-end 0.8;
  }
  .wrapper{
    margin-top:7em;
  }
  #hi{
    font-size:4em;
    margin-left:0.5em;
  }
  #last{
    animation:
      typing .5s steps(6, end),
      blink-caret 0.5s step-end 0.8;
  }
  #info{
    top:20em;
    font-size:2em;
    margin-bottom:4em;
  }
}
