.design{
  background-color: rgba(30,125,207);
  position: relative;
  justify-content: center;
  width:100%;
  height: 100%;
  font-size: 0.7em;
}

.quote{
  position:relative;
  font-family: 'Cormorant Garamond';
  font-size:2.6em;
  font-weight: lighter;
}

.author{
  font-family: 'Cormorant Garamond';
  font-size:1.6em;
  text-align: right;
  margin-top:0;
  margin-right:0.5em;
}

.description{
  text-align: center;
  font-size:4.0em;
}
.carousel{
  margin-top:0;
  margin-bottom:0;
}
.carousel-cell {
  width:auto%;
  max-height: 100%;
  margin-right: 10px;
  text-align:center;
  background: transparent;
  overflow: hidden;
}
.carousel-image{
  height: 80%;
  width:auto;
}

.flickity-button {
  background: transparent;
}

.flickity-page-dots{
  bottom:18em;
  color: white;
}
