body{/*rgba(24,100,164)*/;
  background: rgba(30, 125, 207);
 }
 .background-image{
   transition: background 0.5s linear;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: 50% 50%;
   -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7));
 }
 /* .changeColor {
   background-image: url("images/main.jpg");
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: 50% 50%;
 } */
div{
  height: auto;
  width: auto;
}
h1{
  margin-top:0;
  margin-bottom:0;
}
