/* GLOBAL STYLES */
body {
  display: flex;
  justify-content: center;
}

#hi{
  font-size:6em;
  position:absolute;
  top:2vw;
  left:20vw;
  animation:
    appear 1s forwards;
    animation-duration: 5s;
}

#info{
  position:absolute;
  left:2vw;
  top:10em;
  font-size:7em;
  text-align: left;
}

.text{
  color: white;
  font-family: "Poppins";
  background: transparent;
}

.typewriter h1 {
  font-size: 16em;
  font-weight: bolder;
  overflow: hidden;
  background: transparent;
  border-right: .05em solid transparent;
  margin-left: 0;
  line-height: 1.0em;
  letter-spacing: .05em; /* Adjust as needed */
  animation:
    typing 0.7s steps(6, end),
    blink-caret 0.5s step-end 1.6;
}

#first{
  margin-top:0.5em;
}
#last {
  animation:
    typing 0.7s steps(5, end),
    blink-caret .5s step-end 1.5;
}

.typewriter{
  max-width: 500vw;
}

.menu{
  font-size:6vw;
  font-family: "Viga";
  transition: 0.5s ease;
  color:rgba(24,100,164);
  /* animation:
    appear 1s forwards;
    animation-duration: 5s;
    animation-delay: 2s; */
}

.menu:hover{
  font-size:7vw;
  color: rgba(153,226,101);
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: white }
  50% { border-color: white}
}

@keyframes appear{
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width:992px) and (min-width:600px){
  .typewriter h1{
    font-size:12em;
  }
  #hi{
    font-size:5em;
  }
  #info{
    top:18em;
    font-size:3em;
  }
}

@media screen and (max-width:600px){
  .typewriter h1 {
    font-size:7.5em;
  }
  #hi{
    font-size:3em;
  }
  #info{
    top:20em;
    font-size:2em;
  }
}
