/* GLOBAL STYLES */
body {
  padding-top: 5em;
  display: flex;
  justify-content: center;
}

/* DEMO-SPECIFIC STYLES */
.typewriter h1 {
  font-size: 20vw;
  font-weight: lighter;
  color: white;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid transparent; /* The typwriter cursor */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .10em; /* Adjust as needed */
  animation:
    typing 0.6s steps(7, end),
    blink-caret .5s step-end 2;
}

.typewriter h2{
  font-size: 20vw;
  font-weight: lighter;
  color: white;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid transparent; /* The typwriter cursor */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .10em; /* Adjust as needed */
  animation:
    typing 0.5s steps(7, end),
    blink-caret .5s step-end infinite;
  animation-delay: 0.8s;
}



/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
  0% {color: black;}
  1% {color: white;}
  100% {color: white;}
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}


.name{
  font-family: "Oswald";
  font-weight: lighter;
}

#firstName{
  color: white;
  background: none;
  position: absolute;
  margin-top: -5%;
  margin-left: 1.5%;
}

#lastName{
  color: rgba(24,100,164);
  background: none;
  position: absolute;
  margin-top: 105%;
  margin-left: 0%;
}
