#hi{
  font-size:6em;
  position:absolute;
  top:0.3em;
  left:2em;
  animation:
    appear 1s forwards;
    animation-duration: 5s;
}

#info{
  position:absolute;
  left:0.5em;
  margin-top:6em;
  font-size:5.6em;
  text-align: left;
}

.text{
  color: white;
  font-family: "Poppins";
  background: transparent;
}

.typewriter h1 {
  text-align: center;
  margin-left:auto;
  margin-right:auto;
  font-size: 16em;
  font-weight: bolder;
  overflow: hidden;
  background: transparent;
  border-right: .05em solid transparent;
  line-height: 1.0em;
  letter-spacing: .05em; /* Adjust as needed */
  animation:
    typing 0.7s steps(9, end),
    blink-caret 0.5s step-end 1.0;
}

#first{
  margin-top:0.5em;
}
#last {
  animation:
    typing 0.8s steps(10, end),
    blink-caret .5s step-end 1.0;
}

.typewriter{
  max-width: 500vw;
}

.menu{
  font-family: "Viga";
  transition: 0.5s ease;
  color:rgba(24,100,164);
  /* animation:
    appear 1s forwards;
    animation-duration: 5s;
    animation-delay: 2s; */
}

.menu:hover{
  font-size:1.2em;
  color: rgba(153,226,101);
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: white }
  50% { border-color: white}
}

@keyframes appear{
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width:992px) and (min-width:600px){
  .typewriter h1{
    font-size:12em;
  }
  #hi{
    font-size:5em;
  }
  #info{
    top:18em;
    font-size:3em;
  }
}

@media screen and (max-width:600px){
  .typewriter h1 {
    font-size:7.5em;
  }
  #hi{
    font-size:3em;
  }
  #info{
    top:20em;
    font-size:2em;
  }
}
